#hero {
    padding: 4rem 0;
  }
  #hero .title {
    font-size: 3rem;
    margin-top: 3rem;
  }
  #hero .subtitle {
    font-size: 1.3rem;
  }
  #hero {
    background: url("https://i.postimg.cc/c4TCk23P/whats-icracked.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 10rem 0;
  }
  #hero h1 {
    margin: 2vh;
    padding: 3vh;
    color: rgb(255, 255, 255);
  
  }
  #hero h2 {
    color: rgb(255, 255, 255);
  }