*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 5vh;
    background: #000000;
}
.nav-links{
    display: flex;
    width: 50%;
    background: coral;
    height: 100%;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
}
.nav-links li a{
    color:white;

}
.landing{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin: 100px;
    font-size: 50px;
    color:gray;
}

@media(max-width: 768px){
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
  .nav-links{
      position: fixed;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      display: none;
      
  }
}